/* Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font-face definitions for TT Firs Neue */
@font-face {
  font-family: "TT Firs Neue";
  src: url("/tt_firs_neue/TT Firs Neue Trial Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/tt_firs_neue/TT Firs Neue Trial Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Root color variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

/* Global body styling */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "TT Firs Neue", sans-serif;
}

/* Tailwind’s base layer to apply TT Firs Neue font globally */
@layer base {
  body {
    @apply font-tt-neu; /* Apply TT Firs Neue font globally */
  }
}
