@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Montserrat from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  --background: #82cfc2;
  --foreground: #171717;
}

/* Dark mode styling */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

/* Apply global font family */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif; /* Montserrat font is applied globally */
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
